<div *ngIf="typesDeCartes" class="row">
    <div class="col s12 m8 offset-m2" >
    <h2 class="header center">Les cartes {{ typesDeCartes.nom.toLowerCase() }}s</h2>
    <div style="text-align:center">
        <img class="responsive-img center" [src]="typesDeCartes.illustration"  [alt]="typesDeCartes.nom" />
    </div>
    <div class="card vertical hoverable" >
      <div class="card-stacked"  >
        <div class="card-content" >
          <table  style="width: 100%;
          border-collapse: collapse;
          table-layout: auto;" >
            <tbody >
              <tr>
                <td >Nom du type de carte :</td>
                <td  class="center" ><strong > Carte {{typesDeCartes.nom.toLowerCase()}}</strong></td>
              </tr>
              <tr >
                <td >Description :</td>
                <td class="left" style="word-break: break-word;text-align:center;
                white-space: normal;width: auto;"><em>{{ typesDeCartes.description}}</em></td>
              </tr>
              <tr >
                <td> Liste des cartes {{ typesDeCartes.nom.toLocaleLowerCase()}}s  :</td>
                    <td class="center" (click)="goTocarte(carte)" *ngFor="let carte of getcartesQuiACeTypeDeCartes(typesDeCartes)" style="word-break: break-word;text-align:center;
                    white-space: normal;width: auto; display: inline;cursor: pointer;">
                        <em >
                            <img class="responsive-img center" width="15%" [src]="carte.illustration"  [alt]="carte.nom" />
                            {{carte.nom}} 
                        </em>
                    </td>
              </tr>
          </table>  
        </div>
        <div class="card-action">
            <a (click)="goMenu()" style="cursor: pointer;">Accueil</a>
          
        </div>
      </div>
    </div>
    </div>
    </div>
    <h3 *ngIf='!typesDeCartes' class="center">
      <app-loader></app-loader> 
    </h3>

