<form  (ngSubmit)="onSubmit()" #personnageForm="ngForm">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card-panel">
    
          
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name"
                    required
                    pattern="^[a-zA-Z0-9àéèç -]{1,25}$"
                   [(ngModel)]="personnage.name" name="name"
                   #name="ngModel"> <!--on sauvegarde la valeur-->
            <!-- pristine = variable pour savoir la valeur a été modifié -->
            <div [hidden]="name.valid || name.pristine" 
                  class="card-panel red accent-1">
                  Le nom du personnage requis doit être d'une taille entre 1 et 25 caractères.
            </div>
          </div>

          <div *ngIf="isAddForm" class="form-group">
            <label for="picture">Image</label>
            <input type="url" class="form-control" id="picture"
                    required
                   [(ngModel)]="personnage.picture" name="picture"
                   #picture="ngModel"> <!--on sauvegarde la valeur-->
            <!-- pristine = variable pour savoir la valeur a été modifié -->

            <div [hidden]="picture.valid || picture.pristine" 
                  class="card-panel red accent-1">
                  L'image de la carte du personnage est requise
            </div>
          </div>

          <div *ngIf="isAddForm" class="form-group">
            <label for="pictureCarte">Image de la carte</label>
            <input type="url" class="form-control" id="pictureCarte"
                    required
                   [(ngModel)]="personnage.pictureCarte" name="pictureCarte"
                   #pictureCarte="ngModel"> <!--on sauvegarde la valeur-->
            <!-- pristine = variable pour savoir la valeur a été modifié -->

            <div [hidden]="pictureCarte.valid || pictureCarte.pristine" 
                  class="card-panel red accent-1">
                  L'image de la carte du personnage est requise
            </div>
          </div>

          
    
          
          <!--<div class="form-group">
            <label for="camps">Camp</label>
            <input type="text" class="form-control" id="camps"
                    required
                    pattern="^[a-zA-Z0-9àéèç -]{1,25}$"
                   [(ngModel)]="personnage.camps" name="camps"
                   #camps="ngModel">
                   <div [hidden]="camps.valid || camps.pristine"
                    class="card-panel red accent-1">
                    Le camps du personnage est requis d'une taille entre 1 et 25 caractères.
                  </div>
             <div [hidden]="camps.valid || camps.pristine"
                   class="card-panel red accent-1">
                   Les points de vie du pokémon sont compris entre 0 et 999.
             </div>
          </div>-->

          <div class="form-group">
            <label for="camps">Camp</label>
            <p *ngFor="let camp of getCamps()">
              <label>
                <input type="checkbox"
                  class="filled-in"
                  id="{{ camp }}"
                  [value]="camp"
                  [checked]="aCeCamp(camp)"
                  [disabled]="!estCampValide(camp)"
                  (change)="selectCamp($event, camp)"/>
                <span [attr.for]="camp">
                  <div class="{{ camp | PersonnageCampColorPipe }}">
                    {{ camp }}
                  </div>
                </span>
              </label>
            </p>
          </div>

  

    
          
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description"
                    required
                    pattern="^[a-zA-Z0-9àéèç ]{1,1000}$"
                   [(ngModel)]="personnage.description" name="description"
                   #description="ngModel">
                   <div [hidden]="description.valid || description.pristine"
                    class="card-panel red accent-1">
                    La description du personnage requis doit être d'une taille entre 1 et 1000 caractères.
                  </div>
             <!--<div [hidden]="cp.valid || cp.pristine"
                   class="card-panel red accent-1">
                   Les dégâts du pokémon sont compris entre 0 et 99.
             </div>-->
          </div>
    
          
          <form class="form-group">
            <label for="typesDePouvoirs">Types de pouvoirs</label>
            <p *ngFor="let type of getTypePouvoir()">
              
              <label>
                <input type="checkbox"
                  class="filled-in"
                  id="{{ type }}"
                  [value]="type"
                  [checked]="aCeTypeDePouvoir(type)"
                  [disabled]="!estTypeDePouvoirValide(type)"
                  (change)="selectTypePouvoir($event, type)"/>
                <span [attr.for]="type">
                  <div class="{{ type | PersonnagePouvoirColorPipe }}">
                    {{ type }}
                  </div>
                </span>
              </label>
             </p>
          </form>
    
          
          <div class="divider"></div>
          <div class="section center">
            <button type="submit"
              class="waves-effect waves-light btn"
              [disabled]="!personnageForm.form.valid">
              Valider</button>
          </div>
    
        </div>
      </div>
    </div>
  </form>
  <h3 *ngIf='!personnage' class="center">
    <app-loader></app-loader> 
  </h3>