
<div class='container'>
    <app-search-personnage> </app-search-personnage>
    <div *ngIf='!ListeDePersonnages' class="center">
        <app-loader></app-loader> 
    </div>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        
        <div *ngFor="let personnage of ListeDePersonnages" class="col m4 s12 card-container">
            <div (click)="goToPersonnage(personnage)" BorderCardDirective class="card horizontal" style="cursor: pointer;">
                <div class="card-image">
                    <img [src]="personnage.picture" alt="image" style="width: 100%; height: auto;" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{personnage.name}}</p>
                        <p>Camp : <span [ngClass]="personnage.camps | PersonnageCampColorPipe">{{personnage.camps}}</span></p>
                        <div class="card-image">
                            <img [src]="personnage.pictureCarte" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a *ngIf='estConnecter()'
    
    class="btn-floating btn-large waves-effect waves-light red z-depth-3"
    style="position: fixed; bottom: 25px; right: 25x;"
    (click)="goToAdd()"
    
   
    
>
    +
</a> <!--
routerLink="/personnages/add"-->