<div class='container'>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let personnage of ListeDePersonnages" class="col m4 s12 card-container">
            <div (click)="goToPersonnage(personnage)" class="card horizontal">
                <div class="card-image">
                    <img [src]="personnage.picture" alt="image" style="width: 100%; height: auto;" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{personnage.name}}</p>
                        <p>Camp : <span [ngClass]="personnage.camps | PersonnageCampColorPipe">{{personnage.camps}}</span></p>
                        <div class="card-image">
                            <img [src]="personnage.pictureCarte" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
