.card-container {
    box-sizing: border-box;
    padding: 10px; 
}

.card.horizontal {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.card-stacked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.surlignage {
    text-decoration: underline;
    cursor: pointer;
}

.disposition-row {
    display: flex; 
    flex-wrap: wrap;
}


.alignement-illustration {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.taille-image {
    width: 40%; 
    height: 100%;
}

.padding-image {
    padding-top: 20%;
}

.disposition-stacked {
    display: inline-flex;
    width: 60%;
}

.taille-content {
    height: 100%;
    width: auto;
}

.disposition-carte {
    width: auto; 
    max-width: auto; 
    display: flex;
    justify-content: space-between;
}

.bouton-ajouter-position {
    position: fixed; 
    bottom: 25px; 
    right: 25x;
}

