<div *ngIf=" (this.lancer && !this.getCartService().partie) || (!this.lancer && !this.getCartService().tab && !this.getCartService().erreur) " class="center" >
    <app-loader></app-loader>
</div>



<div *ngIf="!this.lancer && this.getCartService().tab" class='container'>
        <div   *ngFor="let carte of this.getCartes()" style="color: rgb(3, 155, 229);
         ;display: inline-block;" 
        ><!-- async = subcribe-->
            <tbody  >
                <tr >
                <td></td>
                <td style="text-align:center">
                    <div  style="display: inline-block;">
                        <div class="card-content">
                            <span class="card-title center-align">{{carte.nom}}</span>
                        </div>
                        <img class="responsive-img" [src]="carte.illustration"  style="width: 50%;" [alt]="carte.nom" >
                        <div class="card-action">
                            <i *ngIf="this.getNb(carte.id) == 1" class=" inline-icon material-icons left" (click)="this.diminuer(carte)" style="cursor: pointer;"> cancel</i>
                            <i *ngIf="this.getNb(carte.id) > 1" class=" inline-icon material-icons left" (click)="this.diminuer(carte)" style="cursor: pointer;" > - </i>
                            <span class="  middle"  > {{this.getNb(carte.id)}}</span>
                            <i *ngIf="carte.id == 1 || carte.id == 2" class=" inline-icon material-icons right" (click)="this.incrementer(carte)" style="cursor: pointer;" >add</i>
                        </div>
                    
                        
                        
                    
                </div>
             </td>
            </tr>
        
        
        
    </div> <!--[disabled]="!estCampValide(camp.nom)" 
        (change)="selectCamp($event, camp)"/>-->
    <app-search-carte> </app-search-carte>
    <div class="container" style="margin-bottom: 50px;" >
        <div class="input-field col s6" >
            
            
            <label for="nbPartie" ></label>
            <input placeholder="Entrer le nombre de partie que vous voulez lancer entre 1 et 100 : " id="nbPartie" type="number" min="1"  max="100" [defaultValue]="this.nbPartie" (keyup)="setNbPartie()">
           </div>
        <p *ngIf="this.messageDonneeIncorrecte" class="red-text" style="font-weight: bold;">
            {{this.messageDonneeIncorrecte}}
        </p>
        <button class="btn waves-effect waves-light" name="action"  (click)="this.checkData()"  >Lancer une simulation
            <i class="material-icons right">send</i>
        </button>
        
    </div>
    
   
    


</div>



<div *ngIf="(this.lancer || this.getCartService().erreur)&& this.getCartService().partie ">
  <div  class="row">
    <div class="col s12 m8 offset-m2">
    <div class="card vertical hoverable" >
      <div class="card-stacked" >
        <div class="card-content" >
          <table  style="width: 100%;
          border-collapse: collapse;
          table-layout: auto;" >
            <tbody >
                <pre style=" white-space: pre-wrap;">{{ this.getCartService().partie }}</pre>
            </tbody>
            </table> 
        </div>
        <div *ngIf="this.getCartService().erreur" class="center">
            <img src="erreur.png" class="responsive-img" style="width: 50%;"/>
        </div>
        <div class="card-action">
            <a (click)="goMenu()" style="cursor: pointer;">Accueil</a>
            <a *ngIf="!this.getCartService().erreur" (click)="retour()" style="cursor: pointer;">Retour</a>
            <a *ngIf="!this.getCartService().erreur" (click)="relancer()" style="cursor: pointer;">Relancer</a>
          </div>
    </div>

</div>


