<div *ngIf="carte && statut" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ statut.nom }}</h2>
    <div class="card vertical hoverable" >
      <div class="card-stacked" >
        <div class="card-content" >
          <table class="tableau">
            <tbody >
              <tr>
                <td></td>
                <td class="center">
                    <img [src]="statut.illustration" class="responsive-img taille-illustration"  [alt]="statut.nom" >
                    <img [src]="statut.imageLore" class="right responsive-img taille-image-lore" [alt]="statut.nom" >
               </td>
              </tr>
              <tr>
                <td class="inline">Nom :</td>
                <td class="center"><strong >{{ statut.nom }}</strong></td>
              </tr>

              <tr >
                <td class="inline" >Description :</td>
                <td class="colonne">
                  {{statut.description}}
                </td>
              </tr>
              <tr >
                <td> Créateur du statut :</td>
                    <td class="center colonne-createur-statut" (click)="goTocarte(carte)">
                        <img class="responsive-img center" width="15%" [src]="carte.illustration"  [alt]="carte.nom" />
                        {{carte.nom}} 
                    </td>
              </tr>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goMenu()" class="pointeur">Accueil</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 *ngIf='!carte || !statut' class="center">
  <app-loader></app-loader> 
</h3>
