<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card content">
                <div class="input-field">
                    <input 
                        #searchBox
                        (keyup)="search(searchBox.value)"
                        placeholder="Rechercher une carte"> 

                        <div class="collection" style="cursor: pointer;">
                            <a *ngFor="let carte of cartes$ | async" 
                            (click)="goToDetail(carte)"
                            class="collection-item"><!-- async = subcribe-->
                                <img class="responsive-img" [src]="carte.illustration"  style="height: 100%;width: 10%;" [alt]="carte.nom" >
                                {{carte.nom}}
                            </a>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>