<div *ngIf="carte" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ carte.nom }}</h2>
    <div class="card vertical hoverable" >
      <div class="card-stacked" >
        <div class="card-content" >
          <table  class="tableau" >
            <tbody >
              <tr>
                <td></td>
                <td class="center">
                    <i *ngIf="carte.bruitage"  class=" inline-icon material-icons left responsive-img pointeur" (click)="playAudio(carte.bruitage)" > volume_up </i>
                    <img [src]="carte.illustration" class="responsive-img taille-illustration"[alt]="carte.nom" >
                    <img [src]="carte.imageLore" class="right responsive-img taille-image-lore" [alt]="carte.nom" >
               </td>
              </tr>
              <tr>
                <td class="inline">Nom :</td>
                <td class="center"><strong >{{ carte.nom }}</strong></td>
              </tr>
              <tr *ngIf="carte.typeDeCarte.id == 1">
                <td class="inline">Camp :</td>
                <td class="center">
                  <strong *ngFor='let camp of carte.camps'>
                    <span (click)="goToCamp(camp)" class="pointeur" [ngClass]="camp.id | carteCampColorPipe:true">{{camp.nom}}</span>
                  </strong>
                </td>
              </tr>
              <tr *ngIf="carte.typeDeCarte.id == 3 && carte.nomDuBatiment != null">
                <td class="inline">Nom du bâtiment :</td>
                <td class="center">
                  <strong>
                    {{carte.nomDuBatiment}}
                  </strong>
                </td>
              </tr>
              <tr *ngIf="carte.typeDeCarte.id == 3 && carte.nomDuBatiment == null">
                <td class="inline">Nom du bâtiment :</td>
                <td class="center">
                  <strong>
                    Vous êtes un vagabond de ce fait vous n'avez de bâtiments où loger
                  </strong>
                </td>
              </tr>
              <tr>
                <td class="inline">Carte :</td>
                <td class="center"><strong>
                    <img [src]="carte.imageCarte" style="width: 30%;" [alt]="carte.nom" />
                </strong></td>
              </tr>
              <tr>
                <td class="inline" style="width: 5%;">
                  Type du pouvoir :
                </td>
                <td class="center">
                  <p *ngIf='carte.typesPouvoir == null'>
                    Cette carte n'a pas de pouvoir 
                  </p>
                  <span (click)="goToPouvoir(type)" class="pointeur" *ngFor='let type of carte.typesPouvoir' class="{{ type.id | cartePouvoirColorPipe }}">
                    {{ type.nom }}
                  </span>
                </td>
              </tr>
              <tr>
                <td class="inline" style="width: 5%;">Type de la carte :</td>
                <td class="center">
                  <span (click)="goToType(carte.typeDeCarte)" class="pointeur"  class="{{ carte.typeDeCarte.id | carteTypeColor }}">
                    {{ carte.typeDeCarte.nom }}
                  </span>
                </td>
              </tr>
              <tr >
                <td class="inline" >Description :</td>
                <td class="colonne">
                  <em>
                    {{ carte.description}}
                    <span *ngIf="ifStatut(carte.id)">
                      {{getStatut(carte.id).extraDescription}}<span (click)="goToStatut(getStatut(carte.id).id)" class="lien"> {{ getStatut(carte.id).nom }}</span>.
                    </span>
                  </em>
                </td>
              </tr>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goMenu()" class="pointeur">Accueil</a>
          <a *ngIf='estConnecter()' (click)="goToEdit(carte)" class="pointeur">Éditer</a>
          <a *ngIf='estConnecter()' (click)="deletecarte(carte)" class="pointeur">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 *ngIf='!carte' class="center">
  <app-loader></app-loader> 
</h3>
