
<nav>
  <div class="nav-wrapper teal">
    
    <!--<div (click)="goMenu()" >
      <img rel="icon" type="image/x-icon" src="favicon.ico"  alt="image" class="  left middle circle responsive-img " style="cursor: pointer;" width="3%"/>
    </div>-->

    <div>

    
      <a (click)="goMenu()" class="brand-logo center" style="cursor: pointer;">
        Livret 
      </a>
    </div>

    <!--
      <div (click)="goMenuLogin()"  class="right" style="cursor: pointer;" >
        <i class=" inline-icon material-icons left" style="vertical-align: top;" >account_circle</i>
      </div>-->
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer teal" style="bottom:0;left:0;width:100%;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <span (click)="goPlanDuSite()" class="grey-text text-lighten-4 center" style="cursor: pointer;">Plan du site</span>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2024 Copyright 
    <span class="grey-text text-lighten-4 right" href="#!">Livret des loups-garous de Thiercelieux</span>
    </div>
  </div>
</footer>
 



