<h1 class="center">Bienvenue</h1>


<div class='container'>
  <div class="row">
    <div *ngFor='let personnage of ListeDePersonnages' class="col s6 m4">
      <div class="card horizontal"  (click)="selectPersonnage(personnage)" PersoCardDirective>
          <div class="card-image">
            <img [src]="personnage.picture"  alt="image" />
          </div>
          <div class="card-stacked"> <!--style="height:200px;"-->
            <div class="card-content">
                <p>{{personnage.name}}</p>
                <p><small>Camps : {{personnage.camps}}</small></p>
                <img [src]="personnage.pictureCarte" alt="image" style="height:100px;"/>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

