<h1 class="center">Règles du jeu</h1>
<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content" >
                <h2>But du jeu</h2>
                <p >
                    Le jeu de société les loups garous de Thiercelieux fait s'affronter deux camps : <a href="camps/1" class="link"> les villageois</a> 
                    et <a href="camps/2" class="link"> les loups-garous</a>.
                    La condition de victoire des villageois est d'éliminer tous les loups-garous, qui eux, pour gagner doivent éliminer tous les villageois.
                    </p>

                <br>
                <img src="vs.png" class="responsive-img" alt="image"  />
                <br>
    
                <h2>Tour de jeu</h2>
                <img src="tourDeJeu.png" class="responsive-img" alt="image"  />
                <p>
                    Une partie se déroule avec une alternance entre une phase de nuit et une phase de jour. Au début de chaque nuit, le meneur demande à tous les joueurs de fermer les yeux.
                    Puis il demande aux personnages nocturnes de les rouvrir (de se réveiller) à tour de rôle pour utiliser leur pouvoir.
                    Ainsi chaque nuit, les loups-garous dévorent un villageois tandis des villageois ayant des pouvoirs spécials qu'on appelle «villageois spéciaux» 
                    se réveillent afin de mettre en déroute les loups-garous.
                    Lorsque tous les rôles nocturnes ont été appelés, le meneur demande à tous les joueurs d'ouvrir les yeux (le village se réveille).
                    
                </p>

                <br>

                <p>
                    Chaque jour, au réveil du village, les victimes éventuelles des personnages nocturnes sont révélées.
                    Puis tous les joueurs survivants débattent pour éliminer par vote à majorité relative l'un d'entre eux soit pour essayer de garantir dans un fragile espoir la 
                    survie du village pour les villageois soit pour essayer de masquer leur identité nocturne et d'accuser un innocent
                    afin d'échapper à la vindicte populaire pour les loups-garous.
                    Une fois mort, le joueur concerné retourne sa carte. Il n'a plus le droit de parler mais il peut maintenant garder les yeux ouverts pendant la nuit.
                    Les phases de jours et de nuits sont répétés jusqu'à ce qu'un joueur ou un groupe de joueurs ait rempli sa condition de victoire.
                </p>
                
                <br>
                <h2>Mise en place</h2>

                <p>
                    Le meneur distribue à chaque joueur <a class="link" href="typesDeCartes/1" > une carte Personnage</a> 
                    face cachée qui définit son camp et son but dans la partie. Chaque joueur regarde discrètement <a class="link" href="typesDeCartes/1" > sa carte Personnage</a>,
                        puis la pose face caché devant lui.
                    Vous êtes dorénavant, pour le meilleur et pour le pire, un habitant du village de Thiercelieux : un Locatercien.
                    La partie peut alors commencer...
                </p>
                <img src="cartePersonnageFaceCacher.jpg" class="responsive-img" alt="image"  />

                <br>
                <h2>Déroulement du jeu</h2>

                <p>
                    Il est strictement interdit de révéler <a href="typesDeCartes/1" class="link"> sa carte Personnage</a> à quiconque, mais tout peut-être dit !
                    Chacun a le droit de se faire passer pour un autre. Cette phrase est le coeur du jeu faites briller vos talent de tribun, bluffez ou dites la vérité,
                    mais soyez toujours crédible.
                </p>

                <br>
                <div style="display: inline-block;">
                    <img src="meme1.webp" class="responsive-img" style="padding-right: 10px;padding-top: 10px;"  alt="image"  />
                    <img src="meme2.jpeg" class="responsive-img" style="padding-right: 10px;padding-top: 10px;" alt="image"  />
                    <img src="meme3.jpeg" class="responsive-img" style="padding-right: 10px;padding-top: 10px;" alt="image"  />
                    <img src="meme4.webp" class="responsive-img" style="padding-right: 10px;max-width: 50%;padding-top: 10px;" alt="image"  />
                    <img src="meme5.png" class="responsive-img" style="padding-right: 10px;padding-top: 10px;" alt="image"  />
                </div>
                
            </div>
            <div class="card-action">
                <a (click)="goMenu()" style="cursor: pointer;">Accueil</a>
            </div>
        </div>
    </div>
</div>




