<h1 class="center">Règles du jeu</h1>
<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content" >
                <h2>C'est quoi ?</h2>
                <p >
                    Les loups-garous de Thiercelieux est un jeu à rôle, à objectif secret et d'ambiance opposant deux camps : <a href="camps/1" class="link"> les villageois</a>  et <a href="camps/2" class="link"> les loups-garous</a>. 
                    Ainsi, le jour, tout semble parfaitement normal dans ce petit village reculé, mais la nuit, certains des villageois se transforment, sous la clarté de la lune,
                     en loups-garous, et s'en vont dévorer leurs camarades villageois. Chaque joueur possède un rôle secret dont il prend connaissance au début de la partie. 
                    La condition de victoire des villageois est d'éliminer tous les loups-garous, qui eux, pour gagner doivent éliminer tous les villageois.
                    C'est tout un camp qui remporte la victoire, et non pas seulement les vivants, n'hésitez donc pas à vous sacrifier!
                    </p>

                <br>
                <img src="vs.png" class="responsive-img" alt="image"  />
                <br>
    
                <h2>Tour de jeu</h2>
                <img src="tourDeJeu.png" class="responsive-img" alt="image"  />
                <p>
                    Une partie se déroule avec une alternance entre une phase de nuit et une phase de jour. Au début de chaque nuit, le meneur demande à tous les joueurs de fermer les yeux.
                    Puis il demande aux personnages nocturnes de les rouvrir (de se réveiller) à tour de rôle pour utiliser leur pouvoir.
                    Ainsi chaque nuit, les loups-garous dévorent un villageois tandis que certains villageois ayant des pouvoirs spécials qu'on appelle «villageois spéciaux» 
                    se réveillent afin de mettre en déroute les loups-garous.
                    Lorsque tous les rôles nocturnes ont été appelés, le meneur demande à tous les joueurs d'ouvrir les yeux (le village se réveille).
                    
                </p>

                <br>

                <p>
                    Chaque jour, au réveil du village, les victimes éventuelles des personnages nocturnes sont révélées.
                    Puis tous les joueurs survivants débattent pour éliminer par vote à majorité relative l'un d'entre eux soit pour essayer de garantir dans un fragile espoir la 
                    survie du village pour les villageois soit pour essayer de masquer leur identité nocturne et d'accuser un innocent
                    afin d'échapper à la vindicte populaire pour les loups-garous.
                    Une fois mort, le joueur concerné retourne sa carte. Il n'a plus le droit de parler mais il peut maintenant garder les yeux ouverts pendant la nuit.
                    Les phases de jours et de nuits sont répétés jusqu'à ce qu'un joueur ou un groupe de joueurs ait rempli sa condition de victoire.
                </p>
                
                <br>
                <h2>Mise en place</h2>

                <p>
                    Le meneur distribue à chaque joueur <a class="link" href="typesDeCartes/1" > une carte Personnage</a> 
                    face cachée qui définit son camp et son but dans la partie. Chaque joueur regarde discrètement <a class="link" href="typesDeCartes/1" > sa carte Personnage</a>,
                        puis la pose face caché devant lui.
                    Vous êtes dorénavant, pour le meilleur et pour le pire, un habitant du village de Thiercelieux : un Locatercien.
                    La partie peut alors commencer...
                </p>
                <img src="cartePersonnageFaceCacher.jpg" class="responsive-img" alt="image"  />

                <br>

                <h2>Variantes officiels</h2>
                    
                    <h3>Clair de Lune</h3>
                    <img src="bougies.png" class="responsive-img" alt="image"/>
                    <p>
                        Dans un environnement obscur où l’on pourrait presque entendre le hurlement des loups, disposer devant chaque joueur une petite bougie allumée.
                        Dorénavant, chaque matin le meneur souffle la bougie posée devant la ou les victimes nocturnes. 
                        Et chaque soir, après le vote, la victime du village éteint sa propre bougie. 
                        Il fera de plus en plus sombre dans le village, et les survivants seront alors les seuls bien visibles, tout prêts à être dévorés.
                    </p>
                
                    <h3>Murs-murs</h3>
                    <img src="tableau.png" class="responsive-img" alt="image"/>
                    <p>
                        Chaque habitant du 49 encore en vie inscrit une courte phrase de son choix sur un petit papier et le donne au meneur.
                        L’auteur de chaque graffiti doit rester anonyme, mais chacun est libre de son contenue : soupçons, avertissements, commentaire, dénonciations, compliments, déclaration d’amour… 
                        Lorsqu’il les a tous récupérés, le meneur lit tous ces graffitis après les avoir mélangés. 
                        Les habitants peuvent alors s’endormir l’esprit encore tout bouleversé par ces petis messages.
                    </p>

                <h2>Déroulement du jeu</h2>

                <p>
                    Une partie de loups-garous commence par une phase de nuit où l'on appelle les rôles nocturnes. Après celle-ci on passe à une phase de jour où les victimes nocturnes
                    sont révélés puis une phase de débat débute où les joueurs échangent sur les personnes les plus suspectes.
                    Une fois les débats terminés où le temps définie par le meneur on passe à la phase de vote.
                    Tout les joueurs votent pour les personnes votent pour la personnes la plus suspecte pour eux.
                    La personne recevant le plus de vote est éliminé.
                </p>

                <p>
                    En cas d'égalité s'il est présent c'est le Capitaine qui la tranche. Sinon on refait un tour de vote avec les ex aequo. Si ce deuxième tour ce termine sur
                    une égalité alors personne est éliminer et la phase de vote se termine.
                </p>

                <br>

                <p>
                    Lors de la phase de jour que le meneur juge opportune, le meneur lance l'élection du maire. Après un bref discours des candidats, les habitants votent
                    pour leurs favoris. Celui qui recueille le plus de voix devient le Capitaine du village. En cas d'égalité on refait un tour de vote avec les ex aequo. Si ce deuxième tour ce termine sur
                    une égalité alors personne n'est élue et la phase d'élection se termine.
                </p>

                <br>

                <p>
                    Il est strictement interdit de révéler <a href="typesDeCartes/1" class="link"> sa carte Personnage</a> à quiconque, mais tout peut-être dit !
                    Chacun a le droit de se faire passer pour un autre. Cette phrase est le coeur du jeu faites briller vos talent de tribun, bluffez ou dites la vérité,
                    mais soyez toujours crédible.
                </p>

                <br>
                <div style="display: inline-block;">
                    <img src="meme1.webp" class="responsive-img" style="padding-right: 10px;padding-top: 10px;"  alt="image"  />
                    <img src="meme2.jpeg" class="responsive-img" style="padding-right: 10px;padding-top: 10px;" alt="image"  />
                    <img src="meme3.jpeg" class="responsive-img" style="padding-right: 10px;padding-top: 10px;" alt="image"  />
                    <img src="meme4.webp" class="responsive-img" style="padding-right: 10px;max-width: 50%;padding-top: 10px;" alt="image"  />
                    <img src="meme5.png" class="responsive-img" style="padding-right: 10px;padding-top: 10px;" alt="image"  />
                </div>
                
            </div>
            <div class="card-action">
                <a (click)="goMenu()" style="cursor: pointer;">Accueil</a>
            </div>
        </div>
    </div>
</div>




