<div *ngIf="personnage" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ personnage.name }}</h2>
    <div class="card vertical hoverable" >
      <!--<div class="card-image" style="display: flex;justify-content: center;vertical-align: middle;">
        <img [src]="personnage.picture" style="width: 20%;" [alt]="personnage.name" >
      </div>-->
      <div class="card-stacked" >
        <div class="card-content" >
          <table class="bordered striped" style="width: 100%;
          border-collapse: collapse;
          table-layout: auto;" >
            <tbody >
              <tr>
                <td></td>
                <td style="text-align:center"><strong ><img [src]="personnage.picture" style="width: 35%;" [alt]="personnage.name" >
                
                </strong></td>
              </tr>
              <tr>
                <td >Nom</td>
                <td style="text-align:center"><strong >{{ personnage.name }}</strong></td>
              </tr>
              <tr>
                <td>Camp</td>
                <td style="text-align:center"><strong><span [ngClass]="personnage.camps | PersonnageCampColorPipe">{{personnage.camps}}</span></strong></td>
              </tr>
              <tr>
                <td>Carte</td>
                <td style="text-align:center"><strong>
                    <img [src]="personnage.pictureCarte" style="width: 30%;" [alt]="personnage.name" />
                </strong></td>
              </tr>
              <tr>
                <td style="width: 5%;">Types de pouvoirs</td>
                <td style="text-align:center">
                  <span *ngFor='let type of personnage.typesPouvoir' class="{{ type | PersonnagePouvoirColorPipe }}">{{ type }}</span>
                </td>
              </tr>
              <!--<tr>
                <td>Date de création</td>
                <td><em>{{ personnage.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>-->
              <tr >
                <td >Description</td>
                <td style="word-break: break-word;text-align:center;
                white-space: normal;width: auto;"><em>{{ personnage.description}}</em></td>
              </tr>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goMenu()">Retour</a>
          <a (click)="goToEdit(personnage)">Éditer</a>
          <a (click)="deletePersonnage(personnage)">Supprimer</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <h3 *ngIf='!personnage' class="center">
      <app-loader></app-loader> 
    </h3>
