<div *ngIf="personnage" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ personnage.name }}</h2>
    <div class="card vertical hoverable" >
      <!--<div class="card-image" style="display: flex;justify-content: center;vertical-align: middle;">
        <img [src]="personnage.picture" style="width: 20%;" [alt]="personnage.name" >
      </div>-->
      <div class="card-stacked" >
        <div class="card-content" >
          <table  style="width: 100%;
          border-collapse: collapse;
          table-layout: auto;" >
            <tbody >
              <tr >
                <td></td>
                <td style="text-align:center">
                    <img [src]="personnage.picture" class="responsive-img" style="width: 40%;padding-top: 20%;height: 100%;" [alt]="personnage.name" >
                    <img [src]="personnage.lore" class="right responsive-img" style="width: 40%;height: 100%;" [alt]="personnage.name" >
               </td>
              </tr>
              <tr>
                <td style="display: inline;">Nom :</td>
                <td style="text-align:center"><strong >{{ personnage.name }}</strong></td>
              </tr>
              <tr>
                <td style="display: inline;">Camp :</td>
                <td  style="text-align:center;">
                  <strong>
                    <span (click)="goToCamp(personnage.camps)" style="cursor: pointer;" [ngClass]="personnage.camps.id| PersonnageCampColorPipe">{{personnage.camps.nom}}</span>
                  </strong>
                </td>
              </tr>
              <tr>
                <td style="display: inline;">Carte :</td>
                <td style="text-align:center"><strong>
                    <img [src]="personnage.pictureCarte" style="width: 30%;" [alt]="personnage.name" />
                </strong></td>
              </tr>
              <tr>
                <td style="width: 5%;display: inline;">Types de pouvoirs :</td>
                <td style="text-align:center">
                  <span (click)="goToPouvoir(type)" style="cursor: pointer;" *ngFor='let type of personnage.typesPouvoir' class="{{ type.nom | PersonnagePouvoirColorPipe }}">{{ type.nom }}</span>
                </td>
              </tr>
              <!--<tr>
                <td>Date de création</td> 
                <td><em>{{ personnage.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>-->
              <tr >
                <td >Description :</td>
                <td style="word-break: break-word;text-align:center;
                white-space: normal;width: auto;"><em>{{ personnage.description}}</em></td>
              </tr>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goMenu()" style="cursor: pointer;">Accueil</a>
          <a *ngIf='estConnecter()' (click)="goToEdit(personnage)" style="cursor: pointer;">Éditer</a>
          <a *ngIf='estConnecter()' (click)="deletePersonnage(personnage)" style="cursor: pointer;">Supprimer</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <h3 *ngIf='!personnage' class="center">
      <app-loader></app-loader> 
    </h3>
